.flex-container {
   display: flex;
   background-color: pink;
   flex-direction: column;
   height: 250vh;
}

.panel {
    flex: 1;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    width: 100%;
    height: 500px;
    display: flex;
   
}

nav{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5em;
    margin-right: 8%;
}

nav ul {
    list-style-type: none;
    padding: 0;                                                                                                                                                                                       ;
    display: flex;
   
}
                                                                                
nav ul li{
    margin-right: 20px;
    
}
nav ul li a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;

}
header{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    width: 100%;
    background-color: #1f2937;

}
.header-container{
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    gap: 2em;
}

.logo{
    font-weight: 700;
    font-size: 24px;
    margin-left: 12%;
    color: #f9faf8;
    

}

#main-panel{
    background-color: #1f2937;
}
#info-panel{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    
    
}
#quote-panel{
    background-color: #e5e7eb;
    display: flex;
    justify-content: space-around;
}
#cta-panel{
    background-color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

footer{
    height: 100px;
    background-color: #1f2937;
    
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #ffffff;
}
p.copyright{
    margin: 0;
}

.info1{
    background-color: #1f2937;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.info2{
    background-color: #1f2937;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.info1-content{
    justify-content: right;
    margin-left: 25%;
    margin-right: 10%;
    flex: 1;
    color: #f9faf8;
}

.main-pic{
    height: 50%;
    width: 60%;
    aspect-ratio: 4/2;
    margin-right: 25%;
    margin-left: 10%;
    flex: 1;
}

.info-heading{
    background-color: #f9faf8;
    flex-basis: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.randInfo{

}

.info-boxes{
    background-color: #f9faf8;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-inline: 15%;
    align-items: center;
}

.infobox-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.infobox{
    height: 150px;
    width: 150px;
    background-color: rgb(154, 108, 47);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}


.infobox-text{
    padding: 12px;
}

.quote-container{
    background-color: #e5e7eb;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin-inline: 15%;
}

.main-quote{
}

.quote-author{
    
}

.callToAction{
    display: flex;
    background-color: #3882f6;
    height: 40%;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

.cta-content{
    margin-inline: 15%;
}