.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.panel div{
    flex: 1;
   
}

nav{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5em;
    margin-right: 10%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: auto;                                                                                                                                                                                         ;
    display: flex;
    justify-content: space-between;
}
                                                                                
nav ul li{
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
}
header{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    width: 100%;
    padding: 1.5em 0
}
.header-container{
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    gap: 2em;
}

.logo{
    font-weight: 700;
    font-size: 1.75rem;
}